header{
	background-color: white;
	font-size:100%;
	font-family: Arial;
	text-align: center;
}
footer{
	background-color: blue;
	color: white;
	font-family: Arial;
	font-size:150%;
}
a{
	color: white;
	font-family: Arial;
	font-size:100%;
}

